* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {

    height: 30rem;
    background-color: blueviolet;
    border: 1px solid black
}

.container-header {
    display: flex;

}


.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: blue;

}

.container-item {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    text-align: left;
    max-width: 100px;
}

@media screen and (max-width: 460px)
    {
        .container {
            flex-direction: column;
        }
        .container-item {
            max-width: none;
            text-align: center;
        }
    }